@model MIS4200Team8v2.Models.sendPoints

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>sendPoints</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CoreValues.valueName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoreValues.valueName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserDetail.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserDetail.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PointValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PointValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recognitionTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recognitionTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.pointsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
