@model IEnumerable<MIS4200Team8v2.Models.sendPoints>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CoreValues.valueName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserDetail.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PointValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognitionTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CoreValues.valueName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserDetail.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PointValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recognitionTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pointsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.pointsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pointsID })
        </td>
    </tr>
}

</table>
