@model IEnumerable<MIS4200Team8v2.Models.userDetail>

@{
    ViewBag.Title = "Users";
}

<h2>All Users</h2>

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-9">
            @using (Html.BeginForm("Index", "userDetails", FormMethod.Get))
            {
                <p>
                    Search for users by first or last name:
                    @Html.TextBox("searchString")
                    <input type="submit" value="Search" />
                </p>
            }
        </div>
        @*<div class="col-md-3">
            @Html.ActionLink("Create New", "Create")
        </div>*@

        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <style>
                table {
                    border-collapse: collapse;
                    border-spacing: 0;
                    width: 100%;
                    border: 1px solid #ddd;
                }

                th, td {
                    text-align: left;
                    padding: 16px;
                }

                tr:nth-child(even) {
                    background-color: #ffcc00;
                }
            </style>
        </head>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.positionTitle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.positionTitle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.userID }) |
            @Html.ActionLink("View Profile", "Details", new { id = item.userID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.userID })
        </td>
    </tr>
}



</table>
